# dlt
**/secrets.toml 
**/.env
# dbt
target/
dbt_packages/
logs/
# Python
*.pyc
__pycache__/
venv/
.venv
# IDE files
.idea/
# OS files
.DS_Store
Thumbs.db

# Custom files
.cursor/
ToDo.md
*.duckdb
*.db
.dbt/
credentials/
# Next to release
analytics/
reports/
data-governance-as-code/